{% macro get(no, value) %}
    {% set bar = value | split(',') %}	
    {% if bar | length > 1 %}
        {% if not no %}
            {{ bar[0] }}
        {% elseif no == 1 %}
            {{ bar[1] }}
        {% elseif no == 2 %}
            {{ bar[2] }}
        {% endif %}
    {% else %}
        {{ value }}
    {% endif %}
{% endmacro %}

{% macro humanTiming(time) %}
	{% set time = date().timestamp - time %}
    {% set tokens = 
			{ 31536000 : 'year',
			2592000 : 'month',
			604800 : 'week',
			86400 : 'day',
			3600 : 'hour',
			60 : 'minute',
			1 : 'second' } %}
	{% set numberOfUnits = 0 %}
	{% for unit, text in tokens %}			
		{% if( time > unit and numberOfUnits == 0 ) %}				
			{% set numberOfUnits = ( time / unit ) | round( 0, 'floor' ) %}		
			<span class='date'>{{ numberOfUnits }} {{ text }}{{ numberOfUnits > 1 ? 's'}}</span>
		{% else %}
			{# this is continue #}
		{% endif %}
	{% endfor %}
{% endmacro %}

{% macro humanTimingMessageUnique(time) %}
	{% set time_difference = date().timestamp - time %}
    {% set tokens = 
			{ 31536000 : 'year',
			2592000 : 'month',
			604800 : 'week',
			86400 : 'day',
			3600 : 'hour',
			60 : 'minute',
			1 : 'second' } %}
	{% set numberOfUnits = 0 %}
	{% for unit, text in tokens %}			
		{% if( time_difference > unit and numberOfUnits == 0 ) %}				
			{% set numberOfUnits = ( time_difference / unit ) | round( 0, 'floor' ) %}	
			{% if text == 'second' or text == 'minute' or text == 'hour' %}
				{{ numberOfUnits }} {{ text }}{{ numberOfUnits > 1 ? 's'}}
			{% else %}
				{# also show year if the year is different from now #}
				{% if "now"|date("Y") != time|date("Y") %}
					{{ time|date("M d, Y") }}
				{% else %}
					{{ time|date("M d") }}
				{% endif %}				
			{% endif %}
		{% else %}
			{# this is continue #}
		{% endif %}
	{% endfor %}
{% endmacro %}