{% set config = data.theme_config %}
<form>
<input type="hidden" name="mode" value="submit">


        Domain 1 : <input type="text" name="domain1" value="{{ config.domain1 }}">
        Sub-Theme <input type="text" name="theme1" value="{{ config.theme1 }}"><br>

    Domain 2 : <input type="text" name="domain2" value="{{ config.domain2 }}">
    Sub-Theme <input type="text" name="theme2" value="{{ config.theme2 }}"><br>

    Domain 3 : <input type="text" name="domain3" value="{{ config.domain3 }}">
    Sub-Theme <input type="text" name="theme3" value="{{ config.theme3 }}"><br>

    Domain 4 : <input type="text" name="domain4" value="{{ config.domain4 }}">
    Sub-Theme <input type="text" name="theme4" value="{{ config.theme4 }}"><br>

    Domain 5 : <input type="text" name="domain5" value="{{ config.domain5 }}">
    Sub-Theme <input type="text" name="theme5" value="{{ config.theme5 }}"><br>


    Domain 6 : <input type="text" name="domain6" value="{{ config.domain6 }}">
    Sub-Theme <input type="text" name="theme6" value="{{ config.theme6 }}"><br>

    Domain 7 : <input type="text" name="domain7" value="{{ config.domain7 }}">
    Sub-Theme <input type="text" name="theme7" value="{{ config.theme7 }}"><br>

    Domain 8 : <input type="text" name="domain8" value="{{ config.domain8 }}">
    Sub-Theme <input type="text" name="theme8" value="{{ config.theme8 }}"><br>

    Domain 9 : <input type="text" name="domain9" value="{{ config.domain9 }}">
    Sub-Theme <input type="text" name="theme9" value="{{ config.theme9 }}"><br>

    Domain 10 : <input type="text" name="domain10" value="{{ config.domain10 }}">
    Sub-Theme <input type="text" name="theme10" value="{{ config.theme10 }}"><br>

    <input type="submit">
</form>

