{% set config = data.theme_config %}
<form method="post">
    <input type="hidden" name="mode" value="submit">
    <table width="100%">
        <tr>
            <td>No.</td>
            <td>Domain</td>
            <td>Site Name</td>
            <td>Sub-Theme</td>
            <td>Site Admin</td>
        </tr>
        {% for i in 1..10 %}
            <tr>
                <td>{{ i }}</td>
                <td>
                    <input type="text" name="domain{{ i }}" value="{{ config['domain' ~ i] }}">
                </td>
                <td>
                    <input type="text" name="sitename{{ i }}" value="{{ config['sitename' ~ i] }}">
                </td>
                <td>
                    <input type="text" name="theme{{ i }}" value="{{ config['theme' ~ i] }}">
                </td>
                <td>
                    <input type="text" name="admin{{ i }}" value="{{ config['admin' ~ i] }}">
                </td>
            </tr>
            <tr height="1"><td height="1"></td></tr>
        {% endfor %}

    </table>

    <input type="submit" style="margin:1em; padding:1em; box-sizing:border-box; width:100%;">
</form>

