{% set user = data.user %}
{% import dir_message ~ '/templates/macro/html.html.twig' as html %}
<section class='user-profile'>
	{% if data.error %}
		{{ html.error(data) }}
	{% else %}
		<h1 class='name'>{{ user.label }}'s Profile page</h1>		
		<div class='primary-photo'>
			{% if user.photo %}
				<img src='{{ user.photo.thumbnails['url_medium'] }}'/>	
			{% endif %}
				<h3>
					<a href='/member/update'>Update your profile.</a>
				</h3>			
		</div>
		
		<div class='birth-day'>Birth date: {{ data.months[ user.extra.month ] }} {{ user.extra.day }}, {{ user.extra.year }}</div>
		<div class='gender'>Gender: {{ user.extra.gender }}</div>
		<div class='mobile'>Mobile: {{ user.extra.mobile }}</div>
	{% endif %}
</section>